body {
    font-family: 'Muli', sans-serif;
}

p {
    font-size: 1.1em;
    text-align: justify;
}

h2 {
    margin-top: 1.3em;
}

h4 {
    margin-top: 1.1em;
}

.video iframe {
    width: 100%;
    max-width: 400px;
    height: 200px;
}
