body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.6em;
}

p {
    text-align: justify;
}

h2 {
    margin-top: 1.3em;
}

h2:first-of-type {
    margin-top: 0;
}

h2, h3 {
    margin-bottom: 1em;
}

h4 {
    margin-top: 1.1em;
}

.video iframe {
    width: 100%;
    max-width: 400px;
    height: 200px;
}

.youtube iframe {
    max-width: 560px;
    height: 315px;
}

.centered-list {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.centered-list li {
    margin: 0 auto 1.3em auto;
    padding: 0;
}

.no-margin {
    margin: 0;
}

.title {
    font-size: 3em;
    text-align: center;
    margin: 0 auto 1em auto;
}

.floating-image {
    margin-left: 10px;
    margin-bottom: 5px;
}

@media (min-device-width: 640px) {
    .title {
        width: 80%;
    }

    .youtube iframe {
        width: 100%;
    }
}
