{% assign video = include.video %}
<li class="media">
    <div class="row">
        <div class="col-md-12">
            <h4 class="media-heading">• {{ video.title }} - <em>{{ video.authors|join:', ' }}</em></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            {% if video.abstract %}{{ video.abstract|markdownify }}{% endif %}

            <p class="small">
                Cette vidéo a été enregistrée le {{ video.date_fr }}.
                {% if video.extra_url %}Vous trouverez plus d'informations en suivant <a href="{{ video.extra_url }}">ce lien</a>.{% endif %}
            </p>
        </div>
        <div class="col-md-5 text-center video">
            <iframe width="400" height="225" src="{{ video.url }}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</li>
