---
layout: default
---

<div clas="container">
    <h1><a href="/">Je n'ai rien à cacher.</a> <small>En fait si, et vous également !</small></h1>
    <hr>

    <h1 class="title">{{ page.title }}</h1>

    {{ content }}

    {% if page.resources %}
        <h2>Ressources supplémentaires</h2>
        {% for resource in page.resources %}
            {% include article_item.html article=resource %}
        {% endfor %}
    {% endif %}

    <hr>
    <p class="text-center no-margin">
        <a href="/#-mais-enfin,-..."><i class="glyphicon glyphicon-home" aria-hidden="true"></i> Retour vers la page principale</a>
    </p>
</div>
